$sub-img-size: 120px;
.img-con{
    float: left;
    position: relative;
    border: 1px solid #ccc;
    .img{
        width: 100px;
        height:$sub-img-size;
    }
    .fa-close{
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        display: none;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2);
        margin: auto;
        font-size: 30px;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: $sub-img-size;
    }
    &:hover{
       .fa-close{
           display: block;
       }  
    }
}

