#wrapper{
    width: 100%;
    height: 100%;
    .top-nav{
        width: 100%;
        height: 60px;
        background:#fff;
        .top-nav-title{
            width: 300px;
            font-size: 40px;
            text-align: center;
            line-height: 60px;
            height: 100%;
            float: left;
            color: #fff;
            background-color: rgb(48, 65, 86);
        } 
        .top-nav-seting{
            float: right;
            min-width: 200px;
            height: 60px;
            position: relative;
            .top-nav-setingUser{
                margin: 0 auto;
                min-width: 120px;
                height: 60px;
                line-height: 60px;
                cursor: pointer;
                transition: all 1s ease;
                font-size: 16px;
            }
            .top-nav-setingOther{
                position: absolute;
                left: 0;
                width: 120px;
                height: auto;
                background: #fff;
                border: 1px solid #ebeef5;
                overflow: hidden;
                border-radius: 4px;
                box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);    
                li{
                    padding: 10px 0 10px 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .side-nav{
        width: 300px;
        overflow: hidden;
        background-color: #304156;
        .side-menu{
            width: 100%;
            overflow: hidden;
            li{
                width: 100%;
                height: 60px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
                a{
                    display: block;
                }
            }
            li:hover{
                background-color: #2DAFCB !important;
                color: #fff !important;
            }
            .active-menu{
                background-color: #2DAFCB !important;
                color: #fff !important;
                display: block;
            }    
     
        }
    }
}
